#open{
    background-color: rgb(153, 95, 95);
    border:none;
    border-radius: .15rem;
    padding: .75rem;
    color: whitesmoke;
}

.dropdown{
    position:relative;
}

.dropdown-menu{
    position: absolute;
    left:0;
    margin-top: .25rem;
    margin-left: .25rem ;
    background-color: rgb(223, 198, 166);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.2);
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 360ms ease-in-out;
    transition: transform 360ms ease-in-out;
    pointer-events: none;
}

.dropdown-menu-active{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.field{
    border-radius: .25rem;
}

.field *{
    display: block;
}

.submitBtn{
    margin: .75rem;
}

.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

input{
    appearance: none;
  
    width: 100%;
    border: 1px solid #333;
    border-radius: .25rem;
    margin: 0;
  
    font-family: inherit;
    font-size: 90%;
  
    box-sizing: border-box;
  }
  
  /* This is our style for the invalid fields */
  input:invalid {
    border-color: #900;
    background-color: #fdd;
  }
  
  input:focus:invalid {
    outline: none;
  }